@font-face {
  font-family: "Raleway-VariableFont_wght";
  src: url("/fonts/Raleway-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  font-family: "Raleway-VariableFont_wght", sans-serif;
}

.bg-pattern {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  color: #cccccc;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 80vh;
}

.count {
  padding: 30px;
  font-size: 64px;
  color: #3b3b3b;
}

.timeago {
  padding-bottom: 16px;
  font-size: 18px;
  color: #3b3b3b;
}

/* https://codepen.io/januaryofmine/pen/xBjqBg */
button {
  position: relative;
  margin: 0;
  padding: 5px 16px;
  height: 50px;
  width: 130px;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #8b751b;
  border-radius: 10px;
  color: #b99b25;
  font-weight: 400;
  font-size: 16px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

/* https://codepen.io/januaryofmine/pen/xBjqBg */
.btn-pill:before,
.btn-pill:after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #b99b25;
  content: "";
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}
.btn-pill:hover:before,
.btn-pill:hover:after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.btn-pill:hover:before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}
.btn-pill:hover:after {
  transform: translate(50%, 0) scale(1.1);
}

/* https://codepen.io/noeldelgado/pen/Bkzlu */
.spinner {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border: 3px solid #b99b25;
  border-radius: 50%;
}
.spinner:before,
.spinner:after {
  content: "";
  position: absolute;
  display: block;
  width: 3px;
  background-color: #b99b25;
  border-radius: 1.5px;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.spinner:before {
  height: 9px;
  left: 13.5px;
  top: 50%;
  -webkit-animation: spin 2000ms linear infinite;
  animation: spin 2000ms linear infinite;
}
.spinner:after {
  height: 12px;
  left: 13.5px;
  top: 50%;
  -webkit-animation: spin 500ms linear infinite;
  animation: spin 500ms linear infinite;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
